.cart-dropdown {
	position: absolute;
	width: 240px;
	height: 340px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: white;
	top: 90px;
	right: 4rem;
	z-index: 5;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);

	.cart-items {
		height: 240px;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: auto;
	}

	button {
		margin-top: auto;
	}
}
